@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$staf-corporate: #2e4912;
$staf-masterbrand: #72bf24;
$staf-bg: color.scale($staf-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;
